.card {
    background-color: salmon;
    /* height: 900px;
    width: calc(100% / 3); */
    border: 1px solid black;
}

.card-bottom {
    background-color: salmon;
    width: 100%;
    height: 350px;
    border: 1px solid black;
}