* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin-top: 4rem;
}

.container-large {
    max-width: 1400px;
    margin: auto;
}

.container-small {
    max-width: 1000px;
    margin: auto;
}

.btn-regular {
    padding: .5em .7em;
    white-space: nowrap;
    display: inline-block;
}

header {
    background-color: #B4D0E7;
}

nav {
    background-color: white;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    padding-inline: .5rem ;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    white-space: nowrap;
}

.nav-sx, .nav-dx {
    display: flex;
    /* align-items: center; */
    gap: 1rem;
}

.nav-sx img {
    height: 2em;
}

.ul-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

li a  {
    text-decoration: none;
}

.header-content {
    /* background-color: #B4D0E7; */
}

h1 {
    font-size: 4rem;
    text-align: center;
    /* padding-inline: 9rem; */
    padding-top: 1rem;
}

.content {
    display: flex;
    padding-right: 3rem;
}

.content img {
    height: 30em;
    position: relative;
    top: 6rem;
}

.text-hdr {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    padding-left: 8rem;
    gap: 2rem;
}


/* main */


/* section 1 */

.sct1 {
    padding-top: 8rem;
}

.title-sct1 {
    font-size: 3rem; /*usare stessa dimensione per la 3a sezione */
    margin-bottom: 2rem;
}

.sct1 > :nth-child(2) {
    margin-bottom: 4rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    width: calc(100% / 3 - 1rem);
    border: 1px solid grey;
    flex: 1 1 auto;
}

.title-card {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid lightgray;
}

.content1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.more-gap {
    margin-bottom: 1.5rem;
    padding: .5em .7em;
    white-space: nowrap;
    display: inline-block;
}
    

hr {
    width: 30%;
    margin: 1.5rem 0;
}

.terms {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-bottom {
    /* display: flex; */
    /* height: 350px; */
    width: 100%;
    border: 1px solid grey;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
}

.content1-bott {
    display: flex;
    /* padding: 1rem; */
}

.text-card4 {
    display: flex;
    flex-direction: column;
    flex-basis: 80% ;
    gap: 1rem;
    padding: 1rem;
}

.button-card4 {
    padding: 1rem;
    flex-basis: 20%;
}

/* section 2  */


.sct2 {
    padding-top: 3rem;
}

.content2 {
    display: flex;
    gap: 1rem;
}

.content2 img {
    height: 30em;
}

.text-sct2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
}

h3 {
    font-size: 1.5rem;
}

/* section 3 */

.title-sct3 {
    font-size: 3rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.mini-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
}

.mini-card {
    /* flex: 0 1 auto; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc(100% / 3 - 1rem);
    height: calc(100% / 2 - 1rem);
}

.mini-card img {
    width: 15em;    
}

/* section 4  */

.sct4 {
    display: flex;
    flex-direction: column;
    padding: 9rem 0;
}

.sct4 :first-child {
    margin-bottom: 8rem;
}

.title-sct4 {
    font-size: 3rem;
}

/* section 5 e 6 con larghezza 100% */

.sct5 {
    display: flex;
    justify-content: space-between;
}

.teams {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% / 3);
    aspect-ratio: 1 / 1;
    /* flex-grow: 1; */
    overflow-y: auto;
}

.teams-center {
    padding: 6rem;
    /* flex-grow: 1; */
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
    overflow-y: auto;
}

.teams-center img {
    height: 5em;
}


.teams-square {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    width: calc(100% / 2);
    aspect-ratio: 1 / 1;
    overflow-y: auto;
}

.teams img  {
    width: 100%;
}



.sct6 {
    background-color: salmon;
    position: relative;
}

.content6 :last-child {
    position: absolute;
    top: 7rem;
}

.title-sct6 {
    font-size: 3rem;
    padding: 6rem 0;
    width: 80%;
    display: inline-block;
}

