* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin-top: 4rem;
}

.container-large {
    max-width: 1400px;
    margin: auto;
}

.container-small {
    max-width: 1000px;
    margin: auto;
}

.btn-regular {
    padding: .5em .7em;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
}

.btn-blue {
    background-color: #0061FF;
    color: white;
    cursor: pointer;
}

.btn-regular:hover,
.btn-blue:hover {
    text-decoration: underline;
}

header {
    background-color: #B4D0E7;
}

nav {
    background-color: white;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    padding-inline: .5rem ;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    white-space: nowrap;
}

.nav-sx, .nav-dx {
    display: flex;
    gap: 1rem;
}

.nav-sx img {
    height: 2em;
}

.ul-nav {
    display: flex;
    align-items: stretch;
    gap: 1rem;
    list-style: none;
}

.ul-nav li {
    display: flex;
    align-items: center;
    padding-inline: .5rem;
}

.ul-nav li:hover {
    cursor: pointer;
    background-color: rgba(180,208,231,0.5) ;
    border-bottom: 2px solid #67a7db;
}

.ul-nav .first:hover {
    background-color: white;
}

.ul-nav .last:hover {
    background-color: white;
}

.ul-nav li a  {
    color: black;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .50rem);
    background-color: white;
    /* padding: .75rem; */
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
    opacity: 0;
    transition: opacity 100ms ease-in-out;
    /* transform: translateY(-10px); */
}

.dropdown > a:hover + .dropdown-menu {
    opacity: 1;
    /* transform: translateY(0); */
}

.dropdown-menu:hover {
    opacity: 1;
}

.ul-nav .dropdown-menu li a {
    padding: .75rem;
}

h1 {
    font-size: 4rem;
    text-align: center;
    /* padding-inline: 9rem; */
    padding-top: 1rem;
}

.content {
    display: flex;
    padding-right: 3rem;
}

.content img {
    height: 30em;
    position: relative;
    top: 6rem;
}

.text-hdr {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    padding-left: 8rem;
    gap: 2rem;
}

.text-hdr button {
    width: 60%;
}

.text-hdr a i {
    font-size: 3em;
    filter: grayscale();
}


/* main */


/* section 1 */

.sct1 {
    padding-top: 8rem;
}

.title-sct1 {
    font-size: 3rem; /*usare stessa dimensione per la 3a sezione */
    margin-bottom: 2rem;
}

.sct1 .fa-circle-dot {
    color: #0093CE;
}

.sct1 .fa-circle-dot:hover {
    cursor: pointer;
}

.sct1 .fa-circle {
    margin-left: 2rem;
}

.sct1 .fa-circle:hover {
    cursor: pointer;
}

.sct1 > :nth-child(2) {
    margin-bottom: 4rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    width: calc(100% / 3 - 1rem);
    border: 1px solid grey;
    flex: 1 1 auto;
}

.title-card {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid lightgray;
}

.content1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

/* .content1 i {
    margin-bottom: .5rem;
} */

.content1 > :nth-child(7) {
    margin-bottom: 3rem;
}

.bigger {
    margin-bottom: 3rem;
}

.more-gap {
    margin-bottom: 1.5rem;
}
    

.content1 hr {
    width: 30%;
    margin: 1.5rem 0;
}

.terms {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.terms .fa-check {
    color: #0061FF;
}

.card-bottom {
    /* display: flex; */
    /* height: 350px; */
    width: 100%;
    border: 1px solid grey;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
}

.content1-bott {
    display: flex;
    /* padding: 1rem; */
}

.text-card4 {
    display: flex;
    flex-direction: column;
    flex-basis: 80% ;
    gap: 1rem;
    padding: 1rem;
}

.button-card4 {
    padding: 1rem;
    flex-basis: 20%;
}

/* section 2  */


.sct2 {
    padding-top: 10rem;
}

.content2 {
    display: flex;
    gap: 1rem;
}

.content2 img {
    height: 30em;
}

.text-sct2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
}

h3 {
    font-size: 1.5rem;
}

/* section 3 */

.sct3 {
    padding-top: 3rem;
}

.title-sct3 {
    font-size: 3rem;
    margin-top: 6rem;
    margin-bottom: 5rem;
}

.mini-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
}

.mini-card {
    /* flex: 0 1 auto; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc(100% / 3 - 1rem);
    height: calc(100% / 2 - 1rem);
}

.mini-card img {
    width: 15em;    
}

/* section 4  */

.sct4 {
    display: flex;
    flex-direction: column;
    padding: 9rem 0;
}

.sct4 :first-child {
    margin-bottom: 8rem;
}

.title-sct4 {
    font-size: 3rem;
}

/* section 5 e 6 con larghezza 100% */

.sct5 {
    display: flex;
    justify-content: space-between;
}

.teams {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% / 3);
    aspect-ratio: 1 / 1;
    overflow-y: auto;
}

.teams-center {
    padding: 6rem;
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
    overflow-y: auto;
}

.teams-center img {
    height: 5em;
    margin-bottom: 2rem;
}

.teams-center hr {
    width: 20%;
}

.teams-center p {
    margin-top: 2rem;
}


.teams-square {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    width: calc(100% / 2);
    aspect-ratio: 1 / 1;
    overflow-y: auto;
}

.one {
    background-color: #A2D39B;
}

.one:hover {
    cursor: pointer;
    border: 20px solid #c5eabf;
}

.two {
    background-color: #61082B;
}

.two:hover {
    cursor: pointer;
    border: 20px solid #cc145d;
}

.three {
    background-color: #0093CE;
}

.three:hover {
    cursor: pointer;
    border: 20px solid #04b7fe;
}

.four {
    background-color: #FF1C1C;
}

.four:hover {
    cursor: pointer;
    border: 20px solid #f87575;
}

.five {
    background-color: #D5001F;
}

.five:hover {
    cursor: pointer;
    border: 20px solid #fe4a65;
}

.six {
    background-color: #B4D0E7;
}

.six:hover {
    cursor: pointer;
    border: 20px solid #ebf0f5;
}

.seven {
    background-color: #0D2481;
}

.seven:hover {
    cursor: pointer;
    border: 20px solid #546092;
}

.eight {
    background-color: #FFD830;
}

.eight:hover {
    cursor: pointer;
    border: 20px solid #f6e391;
}

.teams img  {
    width: 100%;
    filter: invert(1);
}

/* section 6 */

.sct6 {
    background-color: #B4D0E7;
}

.content6 {
    position: relative;
}

.content6 :last-child {
    position: absolute;
    top: 8rem;
    right: 2rem;
}

.title-sct6 {
    font-size: 3rem;
    padding: 6rem 9rem 6rem 0;
    width: 80%;
}

/* section 7  */

.sct7 {
    padding: 8rem 0;
}

.sct7 h2 {
    margin: 1.5rem 0;
}

.sct7 > div {
    display: inline-block;
    margin: 2rem 19rem 2rem 0;
}

.fa-chevron-down {
    cursor: pointer;
}

/* footer  */

footer {
    font-size: .8em;
    color: white;
    background-color: black;
}

.links {
    display: flex;
    justify-content: center;
    gap: 12rem;
    padding: 5rem 0;
    border-bottom: 1px solid white;
}


.links li {
    list-style: none;
    white-space: nowrap;
}

.links li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.links ul {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.links ul :first-child {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

.lang {
    color: grey;
    font-size: 1.2em;
    padding: 3rem 0 3rem 5rem;
    position: relative;
    left: -80px;
}

.fa-caret-up:hover {
    cursor: pointer;
}