* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container-large {
    max-width: 1400px;
    margin: auto;
}

.container-small {
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: #B4D0E7;
}

nav {
    background-color: white;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.nav-sx, .nav-dx {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-sx img {
    height: 2em;
}

.ul-nav {
    display: flex;
    gap: 1rem;
    list-style: none;
}

li a  {
    text-decoration: none;
}

.header-content {
    /* background-color: #B4D0E7; */
}

h1 {
    font-size: 4rem;
    text-align: center;
    /* padding-inline: 9rem; */
    padding-top: 1rem;
}

.content {
    display: flex;
    padding-right: 3rem;
}

.content img {
    height: 30em;
    position: relative;
    top: 6rem;
}

.text-hdr {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    padding-left: 8rem;
    gap: 2rem;
}


/* main */


/* section 1 */

.sct1 {
    padding-top: 8rem;
}

.cards {
    display: flex;
    gap: 1rem;
}

.card {
    
}

.title-card {
    text-align: center;
    padding: 1rem;
}

.content1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.more-gap {
    margin-bottom: 1.5rem;
}
    

hr {
    width: 30%;
    margin: 1.5rem 0;
}

.terms {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* section 2  */


.sct2 {
    padding-top: 3rem;
}

.content2 {
    display: flex;
    gap: 1rem;
}

.content2 img {
    height: 30em;
}

.text-sct2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
}

h3 {
    font-size: 1.5rem;
}


